<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #drawer
    mode="over"
    class="app-drawer"
    fixedInViewport
  >
    <app-side-menu (close)="drawer.close()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar
      class="app-header"
      [class.hidden]="hideToolbar"
    >
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="app-bra1nd">
        <img
          class="app-logo"
          src="assets/logo.webp"
          width="60"
          height="60"
          alt="YouScriptor логотип"
        />
        <span class="app-title">
          <span id="hAI1">YouScriptor</span>
        </span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
