<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <!-- до ~4 ГБ -->
          <requestLimits maxAllowedContentLength="4294967295" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="dotnet" arguments=".\YandexSpeech.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ECBB67C5-E865-4746-A686-44E1131DF69D-->
