<!-- side-menu.component.html -->
<mat-nav-list>
  <ng-container *ngIf="user$ | async as user; else guestMenu">
    <a mat-list-item (click)="navigate('/recognition')">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Распознавание</span>
    </a>
    <a mat-list-item (click)="navigate('/tasks')">
      <mat-icon matListItemIcon>subtitles</mat-icon>
      <span matListItemTitle>Скрипториум</span>
    </a>
    <a mat-list-item (click)="navigate('/transcriptions')">
      <mat-icon matListItemIcon>record_voice_over</mat-icon>
      <span matListItemTitle>Протокол совещаний</span>
    </a>
    <a mat-list-item (click)="navigate('/down')">
      <mat-icon matListItemIcon>download-icons</mat-icon>
      <span matListItemTitle>Скачать ролик</span>
    </a>
    <a mat-list-item (click)="navigate('/markdown-converter')">
      <mat-icon matListItemIcon>sync_alt</mat-icon>
      <span matListItemTitle>Конвертер Markdown </span>
    </a>
    <a mat-list-item (click)="navigate('/blog')">
      <mat-icon matListItemIcon>article</mat-icon>
      <span matListItemTitle>Блоги</span>
    </a>
    <a mat-list-item (click)="navigate('/profile')">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>Профиль</span>
    </a>
    <a mat-list-item (click)="navigate('/billing')">
      <mat-icon matListItemIcon>credit_card</mat-icon>
      <span matListItemTitle>Подписки и баланс</span>
    </a>
    <a mat-list-item *ngIf="hasRole(user, 'Moderator')" (click)="navigate('/blog/new')">
      <mat-icon matListItemIcon>post_add</mat-icon>
      <span matListItemTitle>Новая тема</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Выйти ({{ user.displayName || user.email }})</span>
    </a>
  </ng-container>
  <ng-template #guestMenu>
    <a mat-list-item (click)="navigate('/recognition')">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Распознавание</span>
    </a>
    <a mat-list-item (click)="navigate('/tasks')">
      <mat-icon matListItemIcon>subtitles</mat-icon>
      <span matListItemTitle>Скрипториум</span>
    </a>
    <a mat-list-item (click)="navigate('/transcriptions')">
      <mat-icon matListItemIcon>record_voice_over</mat-icon>
      <span matListItemTitle>Протокол совещаний</span>
    </a>
    <a mat-list-item (click)="navigate('/markdown-converter')">
      <mat-icon matListItemIcon>sync_alt</mat-icon>
      <span matListItemTitle>Конвертер Markdown</span>
    </a>
    <a mat-list-item (click)="navigate('/blog')">
      <mat-icon matListItemIcon>article</mat-icon>
      <span matListItemTitle>Блоги</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="navigate('/login')">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Войти</span>
    </a>
  </ng-template>
</mat-nav-list>
