<div class="task-page-container">

  <!-- Отображаем TaskResultComponent, если задача завершена -->
  <ng-container *ngIf="taskDone && task; else showProgressOrError">
    <app-task-result [youtubeTask]="task"></app-task-result>
  </ng-container>

  <!-- Иначе, отображаем TaskProgressComponent или сообщение об ошибке -->
  <ng-template #showProgressOrError>
    <ng-container *ngIf="taskErrorMessage; else showProgress">
      <p class="error-message">Error: {{ taskErrorMessage }}</p>
    </ng-container>

    <ng-template #showProgress>
      <app-task-progress
        [taskId]="taskId"
        (taskLoaded)="onTaskLoaded($event)"
        (taskDone)="onTaskDone($event)"
        (taskError)="onTaskError($event)"
      ></app-task-progress>
    </ng-template>
  </ng-template>

</div>
