<header class="video-dialog-header">
  <div><p>ПРОСМОТР ОРИГИНАЛА</p><h2 mat-dialog-title>{{ data.title || 'YouTube-видео' }}</h2></div>
  <button type="button" class="video-close" (click)="onClose()" aria-label="Закрыть">×</button>
</header>
<mat-dialog-content class="video-dialog-content">
  <div class="video-wrapper">
    <iframe [src]="safeVideoUrl" title="YouTube-видео" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="video-meta">
    <span *ngIf="data.channelName">Канал: <a *ngIf="data.channelId; else noChannelLink" [href]="'https://www.youtube.com/channel/' + data.channelId" target="_blank" rel="noopener">{{ data.channelName }}</a><ng-template #noChannelLink>{{ data.channelName }}</ng-template></span>
    <span *ngIf="data.uploadDate">Опубликовано: {{ data.uploadDate | localTime: 'dd.MM.yyyy' }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="video-dialog-actions">
  <a mat-button [href]="'https://www.youtube.com/watch?v=' + data.videoId" target="_blank" rel="noopener">Открыть в YouTube ↗</a>
  <button mat-flat-button type="button" (click)="onClose()">Готово</button>
</mat-dialog-actions>
